{% extends 'receipts_base.html'%}
{% block title %}
Categories
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Categories</h1>
            <a href="{% url 'create_category' %}">Create Category</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{category.name}}</td>
                            <td>{{category.receipts.all|length}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}