body {
    background-color: blanchedalmond;
}
main {
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main a {
    text-decoration: none;
    color: brown;
    width: fit-content;
    margin: 5px;
}

main a:hover {
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
  }

th {
    background-color: bisque;
}
main div {
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(176, 150, 150);
}